@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef9f9;
  --foreground: #000000;
  
  --background-dark: #000010;
  --foreground-dark: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-user-select: none;
  user-select: none;
  overscroll-behavior: none;
}

.dark body {
  background: var(--background-dark);
  color: var(--foreground-dark);
}